* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr auto;

    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

img {
    height: 500px;
    grid-column: span 1;
    grid-row: span 5;
}

footer {
    display: grid;
    justify-content: center;
}